

#root {
  --text: #f1f4f0;
  --background: #0c110a;
  --primary: #d9c2a2;
  --secondary: #3f7d24;
  --accent: #11d074;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background);
  width: 100%;
  height: 100vh;
}

body{
  background-color: var(--background);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.CardHolder{
  display: flex;
  justify-content: center;
}

.RecepieCard{
  width: 60vw;
}
.RecepieCardTop{
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;
}