

#root {
  --text: #f1f4f0;
  --background: #0c110a;
  --primary: #d9c2a2;
  --secondary: #3f7d24;
  --accent: #11d074;
  max-width: 500 px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--background);

}
body{
  background-color: var(--background);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
