

#root {
  --text: #f1f4f0;
  --background: #0c110a;
  --primary: #d9c2a2;
  --secondary: #3f7d24;
  --accent: #11d074;
  --primaryBackground: #343327;
  --secondaryBackground: #101b0c;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background);
  width: 100%;
  height: 100%;
}

body{
  background-color: var(--background);
  color: var(--text);
}

.RecepieNavbar{
  background-color: var(--background);
  border-bottom: 0.5px solid #d9c2a2;
}

.CardHolder {
  display: flex;
  flex-direction: column; 
  align-items: center;     
}

.RecepieCard {
  color: var(--text);
  width: 60vw;          
  max-width: 800px;   
  margin: 20px 0;        
  background-color: var(--background);
  border: 3px solid var(--primaryBackground);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.RecepieCardComponent{
  margin: 10px ;
  display: flex;
  align-items: center; 
  justify-content: center;
  color: var(--text);
}

.RecepieCardTitle {
  height: 60px;
  background-color: var(--secondary);
  
}


.RecepieCardDescription{
  background-color: var(--primaryBackground);
  width: 30vw;
}

.RecepieCardTag{
  height: 60px;
  background-color: var(--secondaryBackground);
  display: flex;
  justify-content: center;
  padding: 10px;
}

.RecepieCardTagBody{
  display: flex;
  justify-content: center;
}

.RecepieCardTagPart{
  color: var(--text);
  margin: 5px;
  background-color: var(--secondaryBackground);
  border: 2px solid var(--secondary);
  border-radius: 25px;
  padding: 3px 5px;
}

.RecepieCardImage{
  height: 50px;
  background-color: var(--primaryBackground);
}

.RecepieCardTop{
  display: flex;
  justify-content: center;

}

.RecepieCardBot{
  display: flex;
  justify-content: center;

}

.DropdowonNavbar{
  color: var(--text);
  margin: 5px;
  background-color: var(--secondaryBackground);
  border: 0.5px solid var(--secondary);
  border-radius: 25px;
  padding: 3px 10px;
}

.TitleName{
  color: var(--text);

}

.Tags{
  color: var(--text);
  margin: 5px;
  background-color: var(--secondaryBackground);
  border: 0.5px solid var(--secondary);
  border-radius: 25px;
  padding: 3px 10px;
}